/* Загальні стилі для тіла */
body {
    margin: 0; /* Видаляємо відступи */
    padding: 0; /* Видаляємо внутрішні відступи */
    background-color: #d3d3d3; /* Сірий фон */
    font-family: Arial, sans-serif; /* Шрифт для тексту */
}

/* Стилі для заголовка */
h2 {
    text-align: left; /* Вирівнюємо текст по лівому краю */
    margin-left: 20px; /* Відступ зліва */
    margin-top: 50px; /* Відступ з верхнього боку для центрованого вигляду */
    font-size: 3rem; /* Розмір шрифта для заголовка */
    color: #333; /* Колір тексту */
}
